<nav class="navbar">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <% if (user) { %> <!-- Checks if user object exists, indicating a logged-in user -->
      <li><a href="/profile/<%= user.id %>">My Maps</a></li>
      <li><a href="/faves/<%= user.id %>">Favourites</a></li>
      <li><a href="/create/<%= user.id %>">Create</a></li>
    <% } %>
  </ul>
  <% if (user) { %>
    <div class="navbar-right">
      <span>Logged in as: <strong><%= user.username %></strong></span>
      <a href="/home">Logout</a>
    </div>
  <% } %>
</nav>
