<nav class="navbar">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/profile">My Maps</a></li>
    <li><a href="/faves">Favourites</a></li>
    <li><a href="/create">Create</a></li>
    <li><a href="#">Bo</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</nav>
