<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css">
  <!-- leaflet css file -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <!-- leaflet js file -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script defer src="/scripts/view-map.js"></script>
</head>

<body>
  <!-- Include the navigation bar -->
  <%- include('partials/navbar') %>
    <!-- <h1>Have fun! 🥔</h1> -->

    <main style="margin: 1em; margin-top: 23vh;">
      <h3>Create a map</h3>
      <!-- Map -->
      <div class="map-box-profile" id="map"></div>
      <!-- <script>
        // Initialize the map
        var map = L.map('map').setView([51.505, -0.09], 13);

        // Add a tile layer (base map)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap'
        }).addTo(map);

        // Add a marker to the map
        L.marker([51.5, -0.09]).addTo(map)
          .bindPopup('this is my centre')
          .openPopup();
        let lat;
        let lng;

        map.addEventListener('mousemove', e => {
          lat = map.getCenter(0);
          lat = map.getCenter(1);
          console.log('==========> did mouse move?')
        })

        document.getElementById('map').addEventListener('click', e => {
          console.log(lat + ' --- ' + lng);
          console.log('==========> did lat lng print?')
        })
      </script> -->
      <!-- End of Map code-->

      <!-- Input Form -->

      <div>
        <form class="form-inline" action="/create/<%= user.id %>" method="POST">

          <label>Enter title:</label>
          <input class="form-control" type="mapTitle" name="mapTitle" placeholder="my map">
          <button type="submit" class="btn" id="create-map">Save</button>
        </form>
      </div>
    </main>
</body>

</html>
