<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css">
  <!-- leaflet css file -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <!-- leaflet js file -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script defer src="/scripts/view-map.js"></script>
</head>

<body>
  <!-- Include the navigation bar -->
  <%- include('partials/navbar') %>
    <!-- <h1>Have fun! 🥔</h1> -->

    <main style="margin: 1em; margin-top: 23vh;">
      <h3>Create a map</h3>
      <!-- Map -->
      <div class="map-box-profile" id="map"></div>
      <!-- End of Map code-->

      <!-- Input Form -->

      <div class="create-map-form-box">
        <form class="form-inline" action="/create/<%= user.id %>" method="POST">
          <label>Name of Map:</label>
          <input class="form-control-title" type="mapTitle" name="mapTitle" placeholder="my map">
          <div class="create-inner-form">
            <label>Latitude:</label>
            <input class="create-form-lat" type="markerLat" name="markerLat" id="markerLat" placeholder="51.505">
            <label>Longitude:</label>
            <input class="create-form-long" type="markerLong" name="markerLong" id="markerLong" placeholder="-0.09">
            <button type="submit" class="btn" id="create-map">Create</button>
          </div>
        </form>
      </div>
    </main>
</body>

</html>
