<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- css files -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/navbar.css">
    <!-- leaflet css file -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

  <!-- js files -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/viewHomepageMaps.js"></script>


    <!-- leaflet js file -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

</head>

<body>
  <!-- Include the navigation bar -->
  <%- include('partials/navbar') %>

  <main class="content" style="margin: 1em;">
      <div class="table-box-home">
          <h3>Browse User Created Maps</h3>
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Map Name</th>
                      <th scope="col">Owner</th>
                      <th scope="col">View</th>
                  </tr>
              </thead>
              <tbody id="mapData">
                  <!-- This is where the AJAX data will be appended -->
              </tbody>
          </table>
          <div class="card-footer text-muted">
              <p class="card-text" style="text-align: center;">
                  <!-- <a href="#" style="display: inline-block;"><button class="btn btn-outline-primary">Create a new Map</button></a> -->
              </p>
          </div>
      </div>

      <% if (user) { %>
        <div class="card-footer text-muted">
          <p class="card-text" style="text-align: center;">
            <a href="/create/<%= user.id %>" style="display: inline-block;"><button class="btn btn-outline-primary">Create a new Map</button></a>
          </p>
        </div>
      <% } %>

</body>

</html>
