.navbar {
  background-color: #0B666A;
  color: #FFFFFF;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}

.navbar button {
  color: #0B666A;
  background-color: #ffffff; /* Change the background color */
  // border: 2px solid #ffffff; /* Set the border width and color */
  border-radius: 10px; /* Add rounded edges */
  padding: 5px 10px; /* Add padding for better appearance */
  // color: #ffffff; /* Set text color */
  cursor: pointer; /* Change cursor style on hover */
}

.navbar button:hover {
  // background-color: #e0e8e8;
  // color: #ffffff;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  color: lightgray;
}

.nav-menu {
  display: flex;
  margin-left: 10px;
}


// Align the logout button etc to the right
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;  /* space between the elements inside */
}

.logo {
  font-family: 'lobster';
  font-size: 27px;
  color:#FFFFFF;
}

.fa-solid {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
}