.navbar {
  background-color: #0B666A;
  color: #FFFFFF;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  color: lightgray;
}


// Align the logout button etc to the right
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;  /* space between the elements inside */
}
